:root{
    background-color: #FAFBBD;
    color: #343434;
    
}

html, body, #root{
    height: 100vh;
    width: 100vw;
}

App{
    display: grid;
    grid-template-areas: 
        "Header"
        "Main"
        "Footer";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
}
