:root{
    background-color:white;
    color: var(--dark-blue);
    --dark-blue: #062B79;
    --med-blue: #16498A;
    --light-blue: #5995B7;
    --dark-yellow: #F1B351;
    --med-yellow: #FDE050;
    --light-yellow: #FAFBBD;
    
}

html, body, #root{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    margin: 0%;
}

.app {
    display: grid;
    grid-template-areas: 
        "Header"
        "MainComponent"
        "Footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}
