.headerDisplay{
    grid-area: Header;
    display: flex;
    flex-direction: column;
    
}

.mainTitle{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: auto;
    padding: 10px;
}

.mainTitle h1{
    margin-bottom: 0px;
}

.mainTitle p{
    padding-left: 20px;
}

nav{
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
    white-space: pre;
    gap: 20px;
}