.loginPage{
    background-image: url('images/Sunrise.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr)

}

.loginForm{
    background-image: linear-gradient(135deg, #F1B351, #FAFBBD);
    grid-column-start: 2 ;
    grid-row: 3/5 ;
    border-radius:10px;
    display: grid;
    justify-items: center;
    

}